{% extends "_layout.html" %}
{% block content %}
<h1>Add New Recipe</h1>
<div>
    <form action="{{ url_for('recipes.create')}}", method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <label for="recipe_name">Recipe Name:</label>
        <input type="text" name="recipe_name" /> <br>
        <label for="recipe_description">Recipe Description:</label>
        <input type="text" name="recipe_description" /> <br>
        <input type="submit" value="Sign Up"/>
    </form>
    <br>
    <form action="{{url_for('users.upload_profile', id=current_user.id)}}" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <label for="user_file">Upload Your Profile Image</label>
        <br></br>
        <input type="file" name="profile_image"/>
        <br></br>
        <button type="submit">Upload</button>
    </form>
</div>
{% endblock %}