{% extends "_layout.html" %}
{% block content %}
<div class="container">
    <h1>Recipes</h1>
</div>
   
{% for recipe in recipes %}

    <div class='container'>
        <div class="row">
            <div class="col-sm-5">
                <img src= "{{recipe.recipe_image_path}}" class="recipe-image w-100" alt="">
            </div>
            <div class="col-sm-5">
                <h3>{{recipe.recipe_name}}</h3>
                <p>{{recipe.description}}</p>
                <form action="{{url_for('recipes.add_to_cart', recipe_id = recipe.id)}}", method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input type="submit" value="Add to Cart"/>
                </form>
            </div>
        </div>
    </div>

{%endfor%}

<form action="{{url_for('users.view_cart', user_id = current_user.id)}}" class="cart-button">
    <button class="btn btn-primary rounded-circle w-100" type="submit"><i class="fa fa-shopping-cart w-100" aria-hidden="true"></i></button>
</form>
{% endblock %}